.navbar {
margin: 0;
}

.navbar-collapse {
  justify-content: space-evenly;
}

.navbar-nav {
  align-items: center;
  inline-size: -webkit-fill-available;
}

.navbar_img {
  width: 8rem;
  height: 4rem;
}

.nav-item svg {
  color: #9AAE04;
}

.nav-item {
  display: flex;
}